.icon-list {
	background-color: #4e4e4e;
	border-radius: 10px;
}

.icon-list ul{
	list-style-type: none;
	display: flex;
	flex-direction: row;
}

.icon-list li {
	margin: 3rem;
}

.icon-list h1 {
	font-size: 1.6rem;
	text-align: center;
	padding-top: 1.6rem;
}